#outerBody{
  height: 1200px;
  background-image: url('oktober.png');
background-size: 1400px;
background-repeat: no-repeat;
}
.App {
  text-align: center;
}
.container{
  /* background-image: url('oktober.png'); */
  width: 100vw;
  text-align: center;
  height: 800px;
  box-shadow: 10px 10px 10px darkgray;
}
li {
  list-style: none;
}
.menuItem{
  margin-top: 20px;
  line-height: normal;
  text-align: left;
  animation: slide-left 1.5s;
}
.menuItem.card{
  box-shadow: 5px 5px 5px darkgray;
  border: 0;
  background-color: transparent;
}
.menuItem button {
  box-shadow: 3px 3px 3px darkgray;
  background-color: green;
  width: 20%;
}


#topNav{
  box-shadow: 5px 5px 5px darkgray;
  display: flex;
  text-align: left;
  font-size: large;
  font-weight: bold;
  font-family: Tahoma, Helvetica, sans-serif;
}
#topNav p{
  padding: 0 10px 0 10px;
}

#orderCol{
  text-align: left;
  box-shadow: 5px 5px 5px darkgray;
  height: 600px;
  background-color: #FFFAF0;
  margin-top: 260px;
  border-radius: 5px;
  animation: drop-in 1.5s;
}

.orderItem{
  background-color: #FFFAF0;
  line-height: normal;
}
.orderItem p{
  margin: 2px;
}
.orderItem.card{
  background-color: #FFFAF0;
  border: 0;
  font-weight: bold;
  letter-spacing: 1px;
  height: 85px;
}

.hiddenitem{
  visibility: hidden;
}
.orderItem button {
  margin: 2px;
  padding: 2px;
}
#orderTotal{
  transform:translateX(85px);
  position: absolute;
  bottom: 35px;
  font-size: x-large;
  font-weight: bold;
}
#nameButton1{
  bottom: 5px;
  text-align: center;
  width: 100%;
  position: absolute;
}

@keyframes slide-left {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes drop-in {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
