.App {
  text-align: center;
}
.container{
  text-align: center;
  background-color: lightgray;
  height: 700px;
}
li {
  list-style: none;
}
.menuItem{
  line-height: normal;
  text-align: left;
}
#topNav{
  display: flex;
  text-align: left;
  font-size: large;
  font-weight: bold;
}
#topNav p{
  padding: 0 10px 0 10px;
}

#orderCol{
}

.orderItem{
  line-height: normal;
}
